---
import '../styles/global.css';
import BgmPlayer from '../components/astro/BgmPlayer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Brainfish Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		
		<BgmPlayer />
		
		<script>
			import Lenis from '@studio-freight/lenis';
			import { gsap } from 'gsap';
			import { ScrollTrigger } from 'gsap/ScrollTrigger';

			gsap.registerPlugin(ScrollTrigger);

			const lenis = new Lenis({
				autoRaf: true,
			});

			lenis.on('scroll', ScrollTrigger.update);

			gsap.ticker.add((time) => {
				lenis.raf(time * 1000);
			});

			gsap.ticker.lagSmoothing(0);
		</script>
	</body>
</html>
